<template name="sidebar">
  <nav class="navbars">
    <div class="logo mb-3">
      <a><img src="/images/logo1.png" width="50px" /></a>
    </div>
    <div class="icons">
      <button>
        <span>Logout</span
        ><i
          style="font-size: 13px; margin-left: 5px"
          class="fa-solid fa-right-from-bracket"
        ></i>
      </button>
    </div>
  </nav>

  <nav class="side-nav">
    <div class="side-buttons">
      <a href="/admin/branches" class="button"
        >Branches <i class="fa-solid fa-school"></i
      ></a>
      <a href="/admin/rooms" class="button"
        >Rooms <i class="fa-solid fa-person-shelter"></i>
      </a>
      <a href="/admin/directors" class="button">
        Directors<i class="fa-regular fa-user"></i>
      </a>
      <a href="/admin/teachers" class="button">
        Teachers<i class="fa-solid fa-person-chalkboard"></i>
      </a>

      <a href="/" class="button">Students<i class="fa-solid fa-users"></i></a>
      <a href="/admin/dashboard" class="button">
        Dashboard<i class="fa-solid fa-chart-line"></i>
      </a>
    </div>
  </nav>

  <nav class="mobile-navbar">
    <a class="navbar-brands">
      <div class="logo-text">Kaspi</div>
    </a>
    <div class="hamburger-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <div class="hamburger-menu">
    <div class="menu-buttons">
      <a class="button" href="#Users">Users</a>
      <a class="button" href="#Roles">Roles</a>
      <a class="button" href="#Bots">Bots</a>
    </div>
  </div>
</template>
